@media screen and (max-width: 480px) {
    .navbar {
        flex-direction: column;
        max-width: 100%;
    }
    .menu {
        flex-direction: column;
        max-width: 100%;
    }
    
    .container {
        max-width: 100%;
    } 
    .container1 {
        max-width: 100%;
    }
    .container2 {
        max-width: 100%;
    }
   
 }

     @media screen and (min-width: 480.5px) and  (max-width: 767px) {
        .container {
            max-width: 540px;
            background-color: blueviolet;
        } 
        .container1 {
            max-width: 540px;
        }
        .container2 {
            max-width: 540px;
        }

     }
