@media screen and  (max-width: 768px) {
    .home-content {
        display: flex;
        justify-content: center;
        align-items: center;
       }

 }


@media screen and (max-width: 480px) {
    .navbar {
        flex-direction: column;
        max-width: 100%;
    }
    .menu {
        flex-direction: column;
        max-width: 100%;
    }
    
    .container {
        max-width: 100%;
    } 
    .container1 {
        max-width: 100%;
    }
    .container2 {
        max-width: 100%;
    }
   
}

     
