/* html {
    font-size: 18px;
} */
html {
    scroll-behavior: smooth;
}

body {
    background: white;
}


.h1{
    display: block;
}
.about {
    display: flex;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    margin: 40px 0px 30px  0px;
}
.paragraf {
    display: block;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin: 10px 0px 10px 20px ;
}
.paragraf a {
    text-decoration: none;
    }
.exception {
    font-size: 17px;
    color: rgb(0, 0, 0);
    margin: 10px 0px 0px 20px ;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.hobbimenu {
    font-size: 15px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px 0px 20px 0px ;
}
.photo {
    display: flex;
    margin: 20px 30px;
    justify-content: center;
    gap: 30px;
}
.img-photo {
    border-radius: 30px;
    width: auto;
    height: 260px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.50);
}
.photo-second {
    display: ruby-base-container;
    margin: 20px 30px;
    justify-content: center;
    gap: 50px;
}
.img-photo2 {
    width: auto;
    height: 260px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}
.photo-fourth {
    display: flex;
    margin: 20px 30px 40px 30px;
    justify-content: center;
    gap: 30px;
}
.photo-third {
    display: flex;
    margin: 20px 30px;
    justify-content: center;
    gap: 50px;
}
.img-photo3 {
    border-radius: 10px;
    width: auto;
    height: 150px;
    gap: 80px;

}
.imgphoto {
    border-radius: 30px 30px 0px 0px;
    width: auto;
    height: 280px;
}



.goalsmenu {
    font-size: 15px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px 0px 20px 0px ;
}

* {
    box-sizing: border-box;
}

.headerontop {
    position: sticky;
    top: 0;
}
.container {
max-width: 1400px;
padding: 0 15px;
margin: 0 auto;
}
.navbar {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 35px;
}
.logo {
    color: white;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    white-space: nowrap;
    
}
.menu1 {
    list-style: none;
    padding: 0; 
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}
.menu1 a {
    text-decoration: none;
    line-height: 1.5em;
    color: white;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 4px 15px;
    margin: 0px 4px;
    border: 0px solid transparent;
    border-radius: 10px;
 }
.menu1 a:hover {
    background-color: palevioletred;
}
.menu {
    list-style: none;
    padding: 0; 
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}
.menu a {
   text-decoration: none;
   line-height: 1.5em;
   color: white;
   font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 16px;
   padding: 4px 15px;
   margin: 0px 4px;
   border: 0px solid transparent;
   border-radius: 10px;
}
.menu a:hover {
    background-color: palevioletred;
}