/* html {
    font-size: 18px;
} */
html {
    scroll-behavior: smooth;
}

body {
    background: papayawhip;
}

.exception {
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
h1 {
    text-transform: uppercase;
}

.menu {
   list-style: none;
   padding: 0; 
}
.menu a{
   text-decoration: none;
   line-height: 1.5em;
}
.menu a:hover {
    background-color: white;
}

.block1 {
    display: block;
    width: 95%;
    margin: 0px 0px 0px 30px ;
}
.block2 {
    display: block;
    width: 300px;
    margin: 0px 0px 0px 10px;
}
.block3 {
    display: block;
    width: 800px;
}